* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  gap: 0;
}

header {
  text-align: center;
  margin: 0;
}

.sidebar{
  width: 0;
  height: auto;
  position: absolute;
  z-index: 1;
  top: 16%;
  left: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
}

.sidebarAtera{
  text-align: end;
  padding-right: 25px;
  padding-top: 5px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 10px 0;
  padding-left: 2px;
  padding-right: 2px;
}

nav a {
  font-weight: bold;
  text-decoration: none;
}

.logo {
  height: 100px;
  width: auto;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: inherit;
  margin: 0;
}

.icon-btn:hover {
  transform: scale(1.2);
  transition: 0.2s;
}

body.gaua {
  background: #121212;
  color: white;
}

body.gaua header {
  background: #1e1e1e;
}

body.gaua nav {
  background: #333;
}

body.gaua .sidebar{
  background: #333;
}

body.gaua nav a {
  color: white;
}

body.eguna {
  background: #f2f2f2;
  color: black;
}

body.eguna header {
  background: #ffffff;
}

body.eguna nav {
  background: #dddddd;
}

body.eguna .sidebar{
  background: #dddddd;
}

body.eguna nav a {
  color: black;
  
}