body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      color: white;
      background-color: #0000007f;
    }

    main {
      max-width: 900px;
      margin: 20px auto;
      padding: 0 15px 40px;
    }

    section {
      margin-bottom: 30px;
      padding: 20px;
      background: #22212149;
      border-radius: 8px;
    }

    h1, h2, h3 {
      margin-top: 0;
      color: #ffcc00;
    }

    .game-info p {
      line-height: 1.5;
    }

    div>.img2{
      height: 183px;
      border: #ffcc00;
      border-style: solid;
    }
